
h1	{
	text-align: center;
}

table	{
	margin: 20px auto 0 auto;
}

tr	{
	width: 50px;
	height: 50px;
	border-bottom: 2px solid black;
}

td	{
	width: 50px;
	height: 50px;

}

.firstRow td {
	border-bottom: 2px solid black;
}

.secondRow td {
	border-bottom: 2px solid black;
}

.firstColumn	{
	border-right: 2px solid #000000;
}

.secondColumn	{
	border-right: 2px solid #000000;
}